.card {
    border:2px solid rgb(243, 218, 218);
    background-color:rgb(247, 214, 214);
    width:350px;
    margin:2%;
    padding-top: 2%;
    padding-bottom: 1%;
    color:crimson;
    text-align: center;
    border-radius: 5%;
}
.image {
    height:300px;
    width:60%;
}
.tips {
    width:60%;
    background-color: crimson;
    color: white;
    font-size: large;
    font-family: cursive;
}

.collection {
    text-align: center;
}
.fashionHeading {
    background-color: brown;
    width:80%;
    margin-left: 10%;
    border-radius: 60%;
    color: gold;
    font-size: 70px;
    font-family: cursive;
}

.fashion {
    background-color: rgb(252, 216, 222);
    width:80%;
    margin-left: 10%;
    font-size: large;
    font-style: cursive;
    font-weight: bold;
}

.cardCollection {
    display: flex;
}