.navbar {
    background-color:rgb(20, 12, 12);
}

.navbar-brand {
    
    color: gold;
    font-family:cursive;
    margin-top: auto;
    text-align: center;
   font-size:xx-large;
}
.ok
{
    padding-top: 10px;
}
.container {
    text-align: center;
        height: 600px;
        width:80%;
        display: grid;
        padding-top: 105px;
    border: 2px solid black;
    background-image:url(https://thumbs.dreamstime.com/z/fashion-female-set-clothes-isolated-white-collage-women-spring-summer-casual-clothing-64087439.jpg);
    

}
.tag-line {
    height: 70px;
    opacity: 1;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
   margin:auto;
    color:rgb(63, 11, 11);
}
.get-started {
    opacity: 1;
    margin: auto;
    height: 50px;
    width:400px;
    background-color:rgb(207, 40, 40);
    color:white;
}
.footer-div {
    padding-top: 10px;;
}
.footer {
    
    height: 50px;
    width: 100%;
    background-color: black;
}

