.ques2 {
    margin:auto;
    height: 500px;
    width:800px;
    text-align: center;
    font-size: xx-large;
    padding-top: 10%;
   
}

.fair,.medium,.dark {

 margin-left: 50px;
 margin-right: 50px;
 margin-top: 10px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: x-large;
}

.tone {
    font-family: cursive;
}

.fair {
    background-color:coral;
    color: coral;
}

.medium {
    background-color:chocolate;
    color: chocolate;
}

.dark {
    background-color: brown;
    color: brown;
}