.options {
  width:100%;
  font-size: x-large;
  font-weight: bold;
  background-color: pink;
  color:black;
  
}
.Men ,.Women ,.LookBook ,.FashionTips {
  padding-left: 10px;
  padding-right: 50px;
  color: black;
}
.Home {
  float:right;
  margin-right: 2%;
  color: black;
}


 
  

