
.navbar-bran,.stylist {
  display: inline-block;
    padding-left: 25px;
    color:crimson;
    font-family:cursive;
   font-size:80px;
   
}

.Login {
  font-family: cursive;
  float:right;
  padding-top: 18px;
  padding-right: 45px;;
  font-size: xx-large;
  color:black;
  
}
.profile,.wishlist,.About,.Contact {
  font-family: cursive;
  float:right;
  padding-top: 18px;
  padding-right: 30px;;
  font-size: xx-large;
  color:black;
}

.containers {
  height: 400px;
  width:100%;
  margin:auto;
  text-align: center;
  position: relative;
  top:160px; 
}
.heading{
  display: none;
  font-size: xx-large;
}
.tag 
{
  color:brown;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 44px;
}
.welcome {
  font-size: 70px;
  
}
.start {
  background-color:crimson;
  font-size: 38px;
  margin:auto;
  width: 30%;
  color:whitesmoke;
  border-radius: 10px;
  opacity: 1;
}




  





