.contact {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, pink 30%, crimson 100%);
  border-radius: 15px;
  position: relative;
  height: 55vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: space-evenly;
  /* margin: 5% 30%; */
  padding: 10px 15px;
}
.information {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  right: 70%;
  bottom: 5%;
  position: absolute;
  text-align: left;
  padding: 10px;
  border-radius: 15px;
  background-color: crimson;
  color: white;
}
.send {
  background-color: pink;
  color: black;
  border-radius: 10px;
  font-size: large;
}
.field {
  width: 50%;
  height: 30px;
}
.textfield {
  width: 50%;
  border-radius: 5px;
}
.closebtn {
  margin: 0%;
  position: absolute;
  top: 1%;
  right: 0px;
}

input {
  border-bottom: 2px solid rebeccapurple;
}
