body {
    background-color: rgb(255, 222, 227);
  }
  
  .fixed_nav{
    background-color: rgb(255, 222, 227);
    padding-bottom: 15px;
  }

  button:hover {
    transform: scale(0.98);
  }
  
  button {
    border: none;
    border-radius: 10px;
  }
  
  button:active {
    outline: none;
  }
  